html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

#appRoot{
  display: flex;
  align-items: stretch;
  flex-direction: column;

  table{
    width: 100%;

    margin-top: 72px;

    thead{
      tr{
        display: flex;
        align-items: center;
        flex-direction: row;
        

        th{
          display: flex;
          flex-direction: column;
          border-right: 1px solid rgba(126, 126, 126, 0.3);
          border-top: 1px solid rgba(126, 126, 126, 0.3);
          border-bottom: 1px solid rgba(126, 126, 126, 0.3);
          min-width: 32px;
          width: calc(100% / 31 - 3px);
          padding: 12px 5px 7px;

          span:last-child{
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
          }

          span:first-child{
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
          }
        }

        th:first-child{
          border-left: 1px solid rgba(126, 126, 126, 0.3);
        }

        th.off-day{
          background: #F0F0F0;
        }
      }
    }
  }
}

.calendarBar {
  display: flex;
  justify-content: center;
}

#head_calendar{
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  margin: 35px 0 25px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}
